    </main>
    
    <footer class="portal-footer">
      <p>&copy; <%= new Date().getFullYear() %> Ella Rises. All rights reserved.</p>
    </footer>
  </div>
  
  <script src="/js/main.js"></script>
  <script src="/js/portal.js"></script>
</body>
</html>

